<!-- Section: Testimonials v.2 -->
<section class="text-center my-5" >
  <!-- Section heading -->
  <div class="rgba-black-strong py-5 px-4 white-text">
  <h2 class="h1-responsive font-weight-bold my-5">Apropos</h2>
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="false" class="testimonial ">
    <!--First slide-->
    <mdb-slide>
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto mb-4">
          <img src="../../../assets/images/about-img-logo.png" class="rounded-circle img-fluid cloudy-knoxville-gradient"
            alt="First sample avatar image">
        </div>
        <!--Content-->
        <p>
          <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
          id
          officiis hic tenetur quae quaerat ad
          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
          molestias
          voluptatum
          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
        </p>
        <h4 class="font-weight-bold">Bouna Talla</h4>
        <h6 class="font-weight-bold my-3">Specialiste en aquaculture</h6>
        <!--Review-->
        <i class="fas fa-star blue-text"> </i>
        <i class="fas fa-star blue-text"> </i>
        <i class="fas fa-star blue-text"> </i>
        <i class="fas fa-star blue-text"> </i>
        <i class="fas fa-star-half blue-text"> </i>
      </div>
    </mdb-slide>
    <!--/First slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>
</section>
<!-- Section: Testimonials v.2 -->