
<app-nav-bar></app-nav-bar>

    <div id="aboutus" class="wow zoomInUp cloudy-knoxville-gradient" 
    data-wow-delay="0.5s" style="height:100%">
            <app-aboutus ></app-aboutus>
    </div>

    <div id="service"   class="wow bounceInLeft z-depth-1" data-wow-delay="0.9s">
            <app-service></app-service>
    </div>

    <div id="activities"  class="wow fadeInDown
    
    z-depth-1" data-wow-delay="0.1s">
        <app-activities ></app-activities>
    </div>

    <div id="contact"  class="wow flipInX cloudy-knoxville-gradient" data-wow-delay="0.5s" >
        <app-contact ></app-contact>
    </div>



 <!-- footer  -->
<app-footer ></app-footer>
    





<!-- /Start your project here-->
