
<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top white navbar-expand-lg navbar-light 
  scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand id="home">
      <a class="logo navbar-brand" href="#">
        <img class="img-fluid logo nav-logo" src="../../../assets/images/logo_transparent.png" />
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li>
          <a  [ngx-scroll-to]="'#home'"  class="nav-link waves-dark"> Acceuil</a>

        </li>

        <li>
          <a [ngx-scroll-to]="'#aboutus'" class="nav-link waves-dark">Apropos</a>
        </li>

        <li>
            <a [ngx-scroll-to]="'#service'" class="nav-link waves-dark">Nos Services</a>
          </li>

        <li>
          <a [ngx-scroll-to]="'#activities'" class="nav-link waves-dark">Activites</a>
        </li>
      
        <li>
            <a [ngx-scroll-to]="'#contact'" class="nav-link waves-dark">Contact</a>
          </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-1" style="">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>PULAGU</h2>
          <br>
          <h5>Une expertise tout prés de chez vous </h5>
          <p>L'experience fait la différence</p>
          <p>La qualité notre priorité </p>
        </div>
      </div>
    </div> 
  </div>
  <!-- /.Main -->

  <main class="text-center py-5 intro-1">
    
      <div class="container" style="background-color: #fff">
        <div class="row">
          <div class="col-md-12">

              <div class="mask rgba-purple-light flex-center z-depth-2">
                  <div class="container text-center black-text wow fadeInUp" style="background-color: #fff">
    
                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
                  </div>
              </div>
          </div>
        </div>
      </div>
    
    </main> 
</header>
<!--Main Navigation-->

